
Actual Project/CarouselForBooksSolution/.vs/CarouselForBooksSolution/v16/.suo
Actual Project/CarouselForBooksSolution/.vs/CarouselForBooksSolution/DesignTimeBuild/.dtbcache.v2
Actual Project/CarouselForBooksSolution/CarouselForBooksApplication/obj/Debug/netcoreapp2.1/CarouselForBooksApplication.csprojAssemblyReference.cache
