<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="User" asp-action="Login">Login</a></li>
    <li><a asp-area="" asp-controller="User" asp-action="Create">Register</a></li>
</ul>